#datavirt-header {
  font-family: OpenSansRegular,Arial,Helvetica,sans-serif;
  font-size: 13px;
}
#datavirt-header .datavirt-navbar {
  border-top: 2px solid #f4d7a0;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand {
  border-top: 1px solid #e8e788;
  background-color: #222222;
  background-position: top left;
  background-repeat: no-repeat;
  font-size: 11px;
  width: 100%;
  height: 26px;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand a.brand, #datavirt-header .datavirt-navbar .datavirt-navbar-brand a.subbrand {
  font-size: 15px;
  font-family: Tahoma,Helvetica,Arial,sans-serif;
  text-transform: capitalize;
  color: white;
  display: block;
  float: left;
  padding-top: 3px;
  cursor: default;
  text-decoration: none;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand a.brand {
  background-image: url(overlord-header-images/datavirt_icon_16px.png);
  background-position: 10px 5px;
  background-repeat: no-repeat;
  font-weight: bold;
  padding-left: 32px;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand a.subbrand {
  padding-left: 8px;
}

#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user {
  float: right;
  cursor: pointer;
  border-left: 1px solid #58595d;
  height: 24px;
  padding-top: 3px;
  padding-left: 28px;
  padding-right: 8px;
  background-image: url('overlord-header-images/icon-user.png');
  background-position: 8px 7px;
  background-repeat: no-repeat;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user:hover {
  background-color: rgba(255,255,255,0.2);
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user a {
  color: white;
  text-decoration: none;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-username {
  padding-right: 18px;
  background-image: url('overlord-header-images/dropdown_icon.png');
  background-position: center right;
  background-repeat: no-repeat;
}

#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user-menu {
  display: none;
  border-left: 1px solid #58595d;
  border-top: 1px solid #58595d;
  border-bottom: 1px solid #58595d;
  position: absolute;
  background-color: #121e34;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user-menu ul {
  list-style: none outside none;
  padding: 0px;
  margin: 0px;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user-menu ul li {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user-menu ul li:hover {
  background-color: #717479;
}
#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-user-menu ul li a {
  color: white;
}

#datavirt-header .datavirt-navbar .datavirt-navbar-brand .datavirt-nav-mobile {
  float: right;
  color: white;
  font-size: 15px;
  border-left: 1px solid #58595d;
  height: 24px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 8px;
  text-indent: -5000px;
  cursor: pointer;
  width: 25px;
  height: 24px;
  background-position: 8px 4px;
  background-repeat: no-repeat;
}

#datavirt-header .datavirt-mobile-nav {
  display: none;
}

#datavirt-header .datavirt-mobile-nav {
  display: none;
}
#datavirt-header .datavirt-mobile-nav .datavirt-nav-list {
  border-bottom: 2px solid #58595d;
}
#datavirt-header .datavirt-mobile-nav .datavirt-nav-list {
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px 0px 10px 25px;
  margin-bottom: 5px;
  margin-left: 0px;
  list-style: none outside none;
  padding-bottom: 10px;
  background-color: #121e34;
}
#datavirt-header .datavirt-mobile-nav .datavirt-nav-list .datavirt-nav-header {
  display: block;
  margin-right: -15px;
  margin-left: -15px;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(153, 153, 153);
  text-shadow: 0px 1px 0px rgba(40,40,40, 0.5);
  text-transform: uppercase;
}
#datavirt-header .datavirt-mobile-nav .datavirt-nav-list li a {
  padding: 3px 15px;
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0px 1px 1px rgba(80, 80, 80, 0.5);
  display: block;
  color: #ddd;
  text-decoration: none;
}
#datavirt-header .datavirt-mobile-nav .datavirt-nav-list li a:hover {
  color: #fff;
  background-color: #51575c;
}
#datavirt-header .datavirt-mobile-nav .datavirt-nav-list li.active a {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: #707378;
}

/* ----------------------------------------
 * Responsive stylings begin here.
 * ----------------------------------------
 */

/* Desktop */
@media ( min-width : 768px) {
  .datavirt-mobile-only {
    display: none !important;
  }
  .datavirt-no-desktop {
    display: none !important;
  }
  
/* Header Height reduced from 73px to 26px for DataVirt App - eliminates primary tabs */  
  #datavirt-header {
    height: 26px;
  }

/* Header Height reduced from 71px to 26px for DataVirt App - eliminates primary tabs */
  #datavirt-header .datavirt-navbar {
    top: 0px;
    right: 0px;
    position: fixed;
    left: 0px;
    z-index: 1030;
    margin-bottom: 0px;
    height: 26px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  }

}

/* Mobile */
@media ( max-width : 767px) {
  .datavirt-desktop-only {
    display: none !important;
  }
  .datavirt-no-mobile {
    display: none !important;
  }

  #datavirt-header .datavirt-navbar {
    border-bottom: 1px solid #58595d;
  }

}

